@import '../src/footer/footer.css';
@import '../src/imageList/imagelist.css';
@import '../src/navbar/navbar.css';
@import '../src/reusable/loadmore.css';
@import '../src/imageList/imagecontainer.css';




:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  box-sizing: border-box;
}


